* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wrapper-goals {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.goal {
    display: flex;
    flex-direction: column;
}

.step {
    display: flex;
}

.remove {
    color: blue;
	cursor: pointer;
}

.wrapper-entered-goals {
    display: flex;
}