* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.button {
    height: 30px;
    width: 170px;
    font-size: 16px;
    border-radius: 7px;
    cursor: pointer;
}

.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 25px;
    width: 200px;
    height: 200px;
}

.points-container {
  display: none;
}

.points-container div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.point {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: black;
    margin: 25px 15px;
}